<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed"  [nzTrigger]="triggerTemplate"
       >
      <div class="logo"> 
      </div>
      <ul nz-menu [nzTheme]="'dark'"  
        [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu >
            <span title><i nz-icon type="appstore"></i> {{isCollapsed? '': 'Asprova运算结果'}}</span> 
           <ul>
              <li nz-menu-item>订单齐套情况</li>
              <li nz-menu-item>齐套订单占料明细</li>
           </ul>
        </li>
        <li nz-menu-item ><span><i nz-icon type="video-camera"></i>
          <span class="nav-text">Cross Feeding</span></span>
        </li> 
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header style="background: #fff; padding:0;">
          <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" 
           (click)="isCollapsed=!isCollapsed">
          </i>
         <span class="system-title">三诺 - IPS 数据分析</span>
      </nz-header>
      <nz-content style="margin:24px 16px 0;">
        <div style="padding:24px; background: #fff; min-height: 360px;">
          Content {{isCollapsed}}
        </div>
      </nz-content>
      <nz-footer style="text-align: center;">深圳三诺信息科技有限公司 ©2018 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>
 